
#sombra{
    height: 3px;
    width: 100%;
    background-color: #e62429;
}

#h1-unico{
    color: #ffffff;
    text-decoration: underline;
}

#sobre{
    text-align: center;
    position: static;
}
#sobre_felipe{
    background: #e7e0f3; 
    border-radius: 6px; 
    padding: 15px;
    cursor: pointer; 
    font-size: 20px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10px;
    box-shadow: 3px 3px #aba2b9;
    position: static;
}

#sobre_luiz{
    background:  #e7e0f3;
     border-radius: 6px; 
     padding: 15px; 
     cursor: pointer; 
     font-size: 20px; 
     margin-left: 15%; 
     margin-right: 15%;
     margin-bottom: 10px;
     box-shadow: 3px 3px #aba2b9;
     position: static;
}

#sobre_luan{    
    background: #e7e0f3;
    border-radius: 6px; 
    padding: 15px; 
    cursor: pointer; 
    font-size: 20px; 
    margin-left: 15%; 
    margin-right: 15%;
    margin-bottom: 10px;
    box-shadow: 3px 3px #aba2b9;
    position: static;
}
#sobre_vicenti{
    background:  #e7e0f3;
    border-radius: 6px; 
    padding: 15px; 
    cursor: pointer; 
    font-size: 20px; 
    margin-left: 15%; 
    margin-right: 15%;
    margin-bottom: 10px;
    box-shadow: 3px 3px #aba2b9;
    position: static;
}
#sobre_juan{
    background:  #e7e0f3;
    border-radius: 6px; 
    padding: 15px; 
    cursor: pointer; 
    font-size: 20px; 
    margin-left: 15%; 
    margin-right: 15%;
    margin-bottom: 10px;
    box-shadow: 3px 3px #aba2b9;
    position: static;
}

#sobre_caio{
    background:  #e7e0f3;
    border-radius: 6px; 
    padding: 15px; 
    cursor: pointer; 
    font-size: 20px; 
    margin-left: 15%; 
    margin-right: 15%;
    margin-bottom: 0px;
    box-shadow: 3px 3px #aba2b9;
    position: static;
}
.painelLogin{
    width: 30%;
    margin: auto;
}
.nomes{
    width: 30%;
    margin: auto;
}
.body_test{
    background-color: red;
}
