
/* Conteúdo da página */

/* Carrosel */
#tamanho-carousel{
    width: 100%;
    height: 700px;
}

/* Make the image fully responsive */
.carousel-inner img {
    width: 100%;
    height: 100%;
}

#slide-1{
    width: 400px;
    height: 200px;
    background-color: #000000be;
    position: absolute;
    margin-bottom: 270px;
    margin-left: 270px;
}

#slide-1 h3{
    font-family: OCR A Std, monospace; 
}

#slide-1 p{
    margin: 20px;
}

#slide-2{
    width: 170px;
    height: 300px;
    background-color: #000000be;
    position: absolute;
    margin-bottom: 170px;
    margin-left: 385px;
}

#slide-2 h3{
    font-family: OCR A Std, monospace; 
    font-size: 40px;
    line-height: 45px;
}

section{
    margin-top: 0px;
	width: 100%;
    height: auto;
}

#div-sobrenos{
	width: 100%;
    text-align: center;
    background-color: #151515;
}

#sobrenos-span{
    width: 600px;
	margin-left: 330px;
    white-space: pre-wrap;
    color: #ffffff;
}

#img-logo{
    margin-top: 28px;
    margin-left: 30px;
}

img{
    width: 301px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.personagem{
    width: 307px;
    margin: 20px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 16px;
    text-align: center;
    position: sticky;
    background-color: #e7e0f3;
    font-weight: bolder
}